---
- name: Instalar Cert-Manager no Kubernetes
  hosts: localhost
  gather_facts: no
  collections:
    - kubernetes.core

  vars:
    cert_manager_namespace: cert-manager
    cert_manager_version: v1.12.2
    helm_release_name: cert-manager
    helm_chart_name: jetstack/cert-manager
    helm_repo_name: jetstack
    helm_repo_url: https://charts.jetstack.io

  tasks:
    - name: Adicionar repositório Helm jetstack
      ansible.builtin.command:
        cmd: "helm repo add {{ helm_repo_name }} {{ helm_repo_url }}"
      register: add_repo
      failed_when: add_repo.rc not in [0,1]
      changed_when: add_repo.rc == 0

    - name: Atualizar repositórios Helm
      ansible.builtin.command:
        cmd: "helm repo update"
      register: repo_update
      changed_when: repo_update.rc == 0

    - name: Criar namespace cert-manager
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ cert_manager_namespace }}"
        state: present

    - name: Instalar cert-manager via Helm
      ansible.builtin.command:
        cmd: >-
          helm install {{ helm_release_name }} {{ helm_chart_name }}
          --namespace {{ cert_manager_namespace }}
          --version {{ cert_manager_version }}
          --set installCRDs=true
          --wait --timeout 300s
      register: helm_install
      failed_when: helm_install.rc != 0

    - name: Aguardar pods do cert-manager ficarem prontos
      ansible.builtin.command:
        cmd: >-
          kubectl wait --namespace {{ cert_manager_namespace }}
          --for=condition=ready pod
          --selector=app.kubernetes.io/instance={{ helm_release_name }}
          --timeout=300s
      register: wait_pods
      failed_when: wait_pods.rc != 0

    - name: Mostrar pods do cert-manager
      ansible.builtin.command:
        cmd: "kubectl get pods -n {{ cert_manager_namespace }} -o wide"
      register: pods_out

    - name: Exibir saída dos pods do cert-manager
      ansible.builtin.debug:
        var: pods_out.stdout_lines